<div ng-controller="AudioControlsController" class="audio-control">
    <audio id="player">
        <source src="{{audio.source}}" type="audio/mpeg">
        Your browser does not support the audio tag.
    </audio>

    <div class="audio-track">
        <div class="audio-track__progress"></div>
        <ul class="audio-track__controls">
            <li class="audio-track__control">
                <i class="fa fa-backward"></i>
            </li>
            <li class="audio-track__control">
                <i ng-hide="isPlaying" class="fa fa-play" ng-click="play()"></i>
                <i ng-show="isPlaying" class="fa fa-pause" ng-click="pause()"></i>
            </li>
            <li class="audio-track__control">
                <i class="fa fa-forward"></i>
            </li>
            <li class="audio-track__control">
                <i class="fa fa-volume-down"></i>
            </li>
        </ul>
    </div>
</div>