@import "../core_styles/base.less";

.audio-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width:(@break-point-small*2))  {
  .audio-control {
    display: flex;
    align-items: center;
  }
}

.audio-track {
  width: 100%;
}

.audio-track__controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 @gutter;
}

.audio-track__control {
  display: inline-block;
  background-color: @primary-color;
  color: @inverse-color;
  height: @control-size;
  min-width: @control-size;
  text-align: center;
  margin: 0 @gutter;
  line-height: @control-size;
  border-radius: @control-size / 2;
  cursor: pointer;
}

.audio-track__control:hover{
  background-color: @secondary-color;
}


.audio-track__control_primary {
  font-size: 1.4em;
}

.audio-track__control_secondary {
  background-color: transparent;
  color: @primary-color;
}

.audio-track__control_secondary:hover{
  background-color: transparent;
  color: @secondary-color;
}

.audio-track__control .fa-play {
  position: relative;
  left: 0.1em;
  top: 0.1em;
}

.audio-track__control .fa-pause {
  position: relative;
  top: 0.1em;
}

.audio-track__control .fa-backward {
  position: relative;
  left: -0.1em;
  top: 0.05em;
}

.audio-track__control .fa-forward {
  position: relative;
  left: 0.1em;
  top: 0.05em;
}

.audio-track__control .fa-volume-down {
  position: relative;
  top: 0.05em;
}

.audio-track__control .fa-bars {
  position: relative;
  top: 0.05em;
}

.audio-track__control_conditional{
  visibility: hidden;
}


@media (max-width:(@break-point-small*2))  {
  .audio-track__control_conditional{
    visibility: visible;
  }
}

