<div ng-controller="AudioControlsController" class="audio-control">
    <div class="audio-track">
        <div class="audio-track__name" ng-bind="currentTrackName"> </div>
        <div class="audio-track__progress-wrapper" track-progress>
            <div class="audio-track__progress" id="progress-bar"></div>
        </div>
        <ul class="audio-track__controls">
            <li class="audio-track__control audio-track__control_conditional audio-track__control_secondary" menu-trigger>
                <i class="fa fa-bars"></i>
            </li>
            <li class="audio-track__control">
                <i class="fa fa-backward"></i>
            </li>
            <li class="audio-track__control audio-track__control_primary">
                <i ng-hide="isPlaying" class="fa fa-play" ng-click="play()"></i>
                <i ng-show="isPlaying" class="fa fa-pause" ng-click="pause()"></i>
            </li>
            <li class="audio-track__control">
                <i class="fa fa-forward"></i>
            </li>
            <li class="audio-track__control audio-track__control_secondary">
                <i class="fa fa-volume-down"></i>
            </li>
        </ul>
    </div>
</div>
