@primary-background: rgba(16,5,1, 0.5);
@secondary-background: rgba(16,5,1, 0.8);
@primary-color: #fdfdf3;
@secondary-color: #cfc999;
@emphasis-color: #34677a;
@inverse-color: #100501;

//@blue: #34677a;
//@dark-brown: #100501;
//@dark-brown-trans: rgba(16,5,1,0.5);
//@brown: #714427;
//@sand: #cfc999;
//@gold: #cb8d44;
//@gold-trans: rgba(203,141,68,0.5);
//@light: #fdfdf3;

@gutter: 10px;
@drop-zone-border-width: 3px;

@break-point-medium: 960px;
@break-point-small: 320px;
@break-point-small-bg: 480px;

@control-size: 2em;

* {
  box-sizing: border-box;
}

ul, ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.btn {
  color: @inverse-color;
  padding: 6px;
  border-radius: 3px;
}

.btn__primary {

}