.l-wrapper {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../images/bg_1600.jpg') top center no-repeat @inverse-color;
  background-size: auto 100%;
}

@media (max-width:@break-point-medium) and (min-width:@break-point-small) {
  .l-wrapper {
    background: url('../images/bg_960.jpg') top center no-repeat;
    background-size: auto auto;
  }
}

@media (max-width:@break-point-small)  {
  .l-wrapper {
    background: url('../images/bg_480.jpg') top center no-repeat;
    background-size: auto auto;
  }
}

.l-secondary-content {
  flex: 3;
  overflow-x: hidden;
  overflow-y: scroll;
  min-width: 300px;
  background-color: @secondary-background;
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
}

.l-primary-content {
  flex: 7;
  overflow-x: hidden;
  overflow-y: scroll;
  min-width: 300px;
  position: relative;
  background-color: @primary-background;

}

.l-menu {
  flex: 9;
}

.l-controls {
  flex: 1;
  position: relative;
}