.l-wrapper {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.l-subwrapper {
  flex: 9;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}

.l-footer {
  flex: 1;
}

.l-menu {
  flex: 3;
  overflow-x: hidden;
  overflow-y: scroll;
  min-width: 200px;
}

.l-content {
  flex: 7;
  overflow-x: hidden;
  overflow-y: scroll;
  min-width: 400px;

}