<ul class="track-list" ng-controller="TracksController" drag-and-drop>
    <li class="track-list__empty" ng-hide="list.length">Playlist is empty</li>
    <li class="track-list__track" ng-class="{'track-list__track_currently-playing' : track.currentlyPlaying}" ng-repeat="track in tracks">
        <strong class="track-list__track-name" ng-click="play(track)">{{track.name}}</strong>
        <span ng-click="removeTrack($index);">x</span>
    </li>
    <li class="track-list__upload-wrapper">
        <button class="btn btn-primary" ng-click="addNewTrack('Tool','Parabola')"><i class="fa fa-upload"></i> Add a music file</button>
    </li>
</ul>
