@import "../core_styles/base.less";

.track-list {
  flex: 7;
  color: @primary-color;
  margin: @gutter - @drop-zone-border-width;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.track-list__track {
  padding: @gutter 0;
  border-bottom: 1px solid @secondary-color;
  cursor: pointer;
  position: relative;
}

.track-list__track:first-child {
  padding-top: 0;
}

.track-list__track:hover {
  color: @secondary-color;
}

.track-list__track-name{
  padding: 0 20px 0 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

.track-list__track-image{
  position: absolute;
  width: 20px;
  left: 0;
}

.track-list__track-play-icon{
  position: absolute;
  bottom: 0.7em;
  right: 0;
  display: none;
}

.track-list__track:hover .track-list__track-play-icon,
.track-list__track_currently-playing .track-list__track-play-icon{
  display: block;
}

.track-list__track_selected {
  color: @emphasis-color;
}

@-webkit-keyframes pulse_animation {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.5); }
  100% { -webkit-transform: scale(1); }
}

.track-list__track-play-icon__animated {
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 500ms;
  -webkit-transform-origin:70% 70%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}