@import "../core_styles/base.less";

@accordion-header-height: 40px;

.accordion {
  display: flex;
  flex-flow: row;
  flex-direction: column;
  flex: 1;
}

.accordion__header{
  color: @primary-color;
  padding: @gutter;
  font-weight: bold;
  cursor: pointer;
  background-color: @secondary-background;
  width: 100%;
  height: @accordion-header-height;
}

.accordion__body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1;
}

.accordion__body_collapsed {
  height: @accordion-header-height;
  flex: none;
  overflow-y: hidden;
}

.accordion__bullet {
  float: left;
  position: relative;
  height: 1em;
  width: 1em;
}

.accordion__bullet-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.accordion__body_collapsed .accordion__bullet-icon:first-child {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  top: -0.04em;
  left: -0.04em;
}

.accordion__bullet-icon:first-child, .accordion__body_collapsed .accordion__bullet-icon:first-child {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}